@page "AdminHomePage"
@model AdminHomePageModel
@{
    ViewData["Title"] = "AdminHomePage";
}
<div class="row">
    <div class="col-3">
    
    </div>
    <div class="container col-6">
        <table class="table table-borderless align-content-center">
            <tr>
                <td>
                    <a asp-page="AdminCustomers" class="btn btn-dark">Customers</a>
                </td>
                <td>
                    <a asp-page="Admin" class="btn btn-dark">Products</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-page="Admin" class="btn btn-dark">Stores</a>
                </td>
                <td>
                    <a asp-page="Admin" class="btn btn-dark">Orders</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-3">
    
    </div> 
</div>