@page "AdminHomePage"
@model AdminHomePageModel
@{
    ViewData["Title"] = "AdminHomePage";
}
<div class="row">
    <div class="col-3">
    
    </div>
    <div class="container col-6">
        <table class="table table-borderless align-content-center">
            <tr>
                <td>
                    button1
                </td>
                <td>
                    button2
                </td>
            </tr>
            <tr>
                <td>
                    button3
                </td>
                <td>
                    button4
                </td>
            </tr>
        </table>
    </div>
    <div class="col-3">
    
    </div> 
</div>