<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fisketorvet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body>
    <header>

        <div id="middleHeader" class="container">
            <div class="row">
                <div class="col-sm-4 d-flex">

                    <form class="form-inline align-self-center"> @*method to be determined*@
                        <div class="input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="iconify" data-icon="fa:search" data-inline="false"></span>
                                </span>
                            </div>
                            @*propery binding here with asp-for helper tag*@
                            <input type="text" class="form-control" placeholder="Search" >

                        </div>
                    </form>

                </div>

                <div class="col-sm-4 d-flex justify-content-center">
                    <img src="~/images/ft_logo.jpg" height="120px" />
                </div>

                <div class="col-sm-4 d-flex justify-content-end">
                    <ul class="list-inline list-unstyled m-0 pb-1 border-0 align-self-center">

                        <li class="list-inline-item m-0 p-0 border-0">
                            <a asp-page="" class="nav-link text-dark font-small font-weight-light py-0 px-2"><img src="~/images/bag-64.png" height="48" /></a>
                        </li>

                        <li class="list-inline-item m-0 p-0 border-0">
                            <a class="nav-link text-dark font-small font-weight-light py-0 px-2" asp-page="/Customer/CreateCustomer"><img src="~/images/user-64.png" height="48" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            


        </div>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-white py-0">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*Navbar content here*@
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-center">
                        <li class="nav-item px-1">
                            <a class="nav-link text-dark py-1" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link text-dark py-1" asp-area="" asp-page="">Stores</a>
                        </li>

                        <li class="nav-item px-1">
                            <a class="nav-link text-dark py-1" asp-area="" asp-page="">Restaurants</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link text-dark py-1" asp-area="" asp-page="">Entertainment</a>
                        </li>
                        <li class="nav-item px-1">

                            <div class="dropdown nav-item">
                                <button class="nav-link text-dark py-1 m-0 border-0 bg-white" id="infoMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Information
                                </button>
                                <div class="dropdown-menu p-0 border-top-0" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item m-0 px-2 py-1" href="#openingHours">Opening hours</a>
                                    <a class="dropdown-item m-0 px-2 py-1" asp-page="/Information/CenterMap">Center map</a>
                                    <a class="dropdown-item m-0 px-2 py-1" href="#">Something else here</a>
                                </div>
                            </div>


                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer font-small text-dark font-weight-light pt-4">

        <div class="container-fluid text-center bg-light">
            <a href="#middleHeader">
                <div class="d-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-center">
                        <li class="nav-item px-1">
                            <span class="iconify" data-icon="fa:angle-double-up" data-inline="false"></span>
                        </li>
                        <li class="nav-item px-1">
                            <p class="m-0 p-0">Top</p>
                        </li>
                    </ul>
                </div>
            </a>
        </div>

        <div class="container text-center text-md-left">
            @*Footer content here*@
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h5 class="text-uppercase mt-3 mb-4">Fisketorvet</h5>
                    <p>
                        <table class="table-borderless font-small">
                            <tr>
                            <td><h6><a id="openingHours">Opening hours:</a></h6></td>
                            </tr>
                            <tr>
                            <td>Monday - Sunday</td>
                            </tr>
                            <tr>
                            <td>10:00 - 20:00</td>
                            </tr>
                            <tr><th><br /></th></tr>
                            <tr>
                            <td><h6>Address:</h6></td>
                            </tr>
                            <tr>
                                <td>
                                    FISKETORVET<br />
                                    Havneholmen 5<br />
                                    1561 København V<br />
                                </td>
                            </tr>

                        </table>
                    </p>
                </div>

                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h6 class="font-weight mt-3 mb-4">For visitors</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a href="#!">About</a>
                        </li>
                        <li>
                            <a href="#!">Stores</a>
                        </li>
                        <li>
                            <a href="#!">Restaurants</a>
                        </li>
                        <li>
                            <a href="#!">Services</a>
                        </li>
                        <li>
                            <a asp-page="/Information/CenterMap">Center map</a>
                        </li>
                        <li>
                            <a href="#!">Parking</a>
                        </li>
                    </ul>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 mx-auto">
                    <h6 class="font-weighte mt-3 mb-4">For business</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Become partner</a>
                        </li>
                        <li>
                            <a href="#!">Rent</a>
                        </li>
                        <li>
                            <a href="#!">Advertise</a>
                        </li>
                    </ul>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 mx-auto">
                    <h6 class="font-weight mt-3 mb-4">Follow us</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Facebook</a>
                        </li>
                        <li>
                            <a href="#!">Instagram</a>
                        </li>
                        <li>
                            <a href="#!">YouTube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="footer-copyright text-center py-3">
            © 2020 Copyright: 2020 - CS10_Project_Fisketorvet_V1

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
