@page "Basket"
@model CS10_Project_Fisketorvet_V1.Pages.BasketModel
@{
    ViewData["Title"] = "Shopping Cart";
}


@{
    if (LoggedInUser.CurrentUser.Exists && LoggedInUser.CurrentUser.HasBasket)
    {
        <div class="container">
            <div class="row">
                <table class="table col-12">
                    <tbody>
                        @foreach (int[] i in Models.Basket.Catalog[Models.Customer.Catalog[LoggedInUser.CurrentUser.User[0]].BasketID].Items)
                        {
                            Models.Product item = Models.Product.GetProduct(i[0], Models.Product.ProductCatalog);
                        <tr>
                            <td>@item.ImagePath</td>
                            <td>@item.ProductName</td>
                            <td>@item.ProductPrice kr</td>
                            <td>@i[1]</td>
                        </tr>
                        }
                    </tbody>
                </table>
             </div>
        </div>
        ;
    }
    else if (LoggedInUser.CurrentUser.Exists)
    {
        <div>
            You do not have any items in your basket
        </div>
    }
    else
    {
        <div>
            You must be logged in to view your basket
        </div>
    }
}