@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">

    <div class="jumbotron">
        <h1 class="display-4">This well be the main page of Fisketorvet</h1>
        <p class="lead">It's just a working prototype</p>
        <hr class="my-4">
        <p class="lead">Have fun coding!!!</p>
        <img src="~/images/website_unter_construction.jpg" />
    </div>

</div>






