@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Here will be the Fisketorvets landing page</h1>
    <p>This is the starting solution so everybody can start coding :)</p>
    <p>This is the starting solution so everybody can start coding :)</p>
</div>
