@page
@model CS10_Project_Fisketorvet_V1.Pages.Stores.StoresModel
@{ 
}

<h1 class="text-center">Stores</h1>
<div class="container">
    <div class="row pb-3">
        <div class="col-md-8"></div>
        <div class="col-md-4 justify-content-md-end justify-content-center">
            <form method="get" class="form-inline">

                <input type="text" asp-for="FilterCriteria" placeholder="Search" class="form-control searchbar-custom mr-2" />
                <input type="submit" value="Filter" class="form-control btn-sm" />

            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        @foreach (var item in Model.Stores)
        {
            <div class="col col-sm-4 col-md-3 justify-content-center">
                <a asp-page="ShowStore" asp-route-storeId="@item.Value.Id" class="text-dark">
                    <div class="card card-product text-center pt-2">
                        <div class="d-flex justify-content-center">
                            <div style="height: 110px; width: 110px; display: flex; justify-content: center; align-items: center;">
                                <img src='~/images/@item.Value.ImageName' class="mw-100 mh-100">
                            </div>
                        </div>
                        <h5 class="text-center flex-column font-weight-normal">@item.Value.Name</h5>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


